body{
    background-image: url("flower.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat ;
    background-color: gray;
}
h1{
    color:white
}