
body {
    background-color: grey;
}

.box {
    width: 300px; 
    height: 150px; 
    padding: 20px;
    text-align: center;
    font-family: Arial;
    background-color: white;
    border-top: 8px solid red;     
    border-right: 8px dashed blue; 
    border-bottom: 8px double green; 
    border-left: 8px dotted orange; 
}
